<%- include('parts/html-head.ejs') %>
<%- include('parts/navbar.ejs') %> 

<div class="container">
    <h2>Hi ,<%=name%></h2>
</div>

<%- include('parts/script.ejs') %> 
<%- include('parts/html-foot.ejs') %> 
